@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), url(../fonts/Inconsolata.woff) format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro'), local('MyriadPro'), url(../fonts/MyriadPro.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(../fonts/RobotoDraft-Regular.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 100;
    src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(../fonts/RobotoDraft-Thin.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 300;
    src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(../fonts/RobotoDraft-Light.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 500;
    src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(../fonts/RobotoDraft-Medium.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(../fonts/RobotoDraft-Bold.woff) format('woff');
}

body {
    background: url(https://static.shodan.io/shodan/img/bg-whiter.gif);
    font-family: 'Open Sans', 'Helvetica';
}

body > .container, body > .container-fluid {
    text-shadow: 1px 1px white;
}

.navbar {
    border-bottom: 1px solid #444;
    margin-bottom: 0;
}

.navbar-inner {
    background: url(https://static.shodan.io/shodan/img/bg-greydark.png);
    background-repeat: repeat;
    border-bottom: 1px solid black;
    min-height: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.navbar .btn {
    margin-bottom: 0;
    margin-top: 8px;
}

.navbar .brand {
    padding: 8px 30px 0px;
}

.navbar .nav > li > a {
    font-family: 'RobotoDraft';
    padding: 13px 15px 13px;
}

.navbar .nav > li > a.store {
    background-color: #5F9838;
    color: white;
}

.navbar .nav > li > a.account {
    background-color: rgba(255, 255, 255, 0.07);
    border-left: 1px solid #353535;
}

.navbar .navbar-text {
    line-height: 45px;
}

.container-fluid > .row-fluid > .main-content {
    padding-top: 20px;
    padding-right: 40px;
}

body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    background: url(../img/bg-greydark.png);
    border-right: 1px solid #222;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    position: fixed;
    top: 45px;
}

.sidebar a, .secondary-sidebar a {
    color: white;
    text-shadow: none;
}

.sidebar ul {
    margin: 0;
}

.sidebar ul li a {
    border-bottom: 1px solid #111;
    border-top: 1px solid #444;
    color: #f9fafc;
    display: block;
    padding: 5px 20px;
    text-shadow: none;
}

.sidebar ul li a:hover {
    background: url(../img/bg-greylight.png);
    text-decoration: none;
}

.sidebar h3 {
    border-bottom: 1px solid #111;
}

.sidebar h3, .secondary-sidebar h3 {
    color: white;
    text-shadow: none;
    font-family: Inconsolata;
    font-size: 14px;
    padding-left: 20px;
}

.sidebar .btn-container {
    border-top: 1px solid #444;
}

.sidebar .btn-container, .secondary-sidebar .btn-container {
    padding: 20px 0;
    text-align: center;
}

.sidebar .indented, .secondary-sidebar .indented {
    padding: 0 20px;
}

.secondary-sidebar {
    background: url(../img/bg-greylight.png);
    border-left: 1px solid #555;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    position: fixed;
    top: 45px;
}

.secondary-sidebar .btn-container {
    border-top: 1px solid #666;
}

.secondary-sidebar h3 {
    border-bottom: 1px solid #333;
}

.secondary-sidebar ul {
    margin: 0;
}

.secondary-sidebar ul li a {
    border-bottom: 1px solid #333;
    border-top: 1px solid #666;
    color: #f9fafc;
    display: block;
    padding: 5px 20px;
    text-shadow: none;
}

.secondary-sidebar ul li a:hover {
    background: url(../img/bg-greylighter.png);
    text-decoration: none;
}

h3 {
    font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Myriad Pro', 'Helvetica';
}

h2 > em, h3 > em {
    color: #d42b2b;
    font-style: normal;
    font-weight: normal;
}

.btn, .label {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.label {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.label-important {
    background-color: #c62011;
}

.label-warning {
    background-color: #FF915F;
}

.label-info {
    background-color: #77CCD7;
}

.label-inverse {
    background-color: #A6CE87;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(160, 160, 160, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(160, 160, 160, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(160, 160, 160, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(160, 160, 160, .6);
}

.indexheader {
    background: url(../img/bg-whiter.gif);
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 40px 0 20px;
}

.indexheader > h1 {
    color: #444;
    font-family: 'Open Sans';
    font-size: 45px;
    padding-bottom: 30px;
    text-shadow: 0 0 20px rgba(255, 255, 255, .6);
}

.indexheader input.search-query {
    width: 450px;
}

.indexsummary {
    padding: 40px 20px;
}

.indexsummary h1, .indexsummary h2, .indexsummary h3, .indexsummary h4, .indexsummary h5, .indexsummary h6 {
    font-family: 'Open Sans';
}

.indexsummary h6 {
    border-bottom: 1px dashed #aaa;
    margin-bottom: 10px;
}

.indexsummary .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.indexsummary .bignumber {
    font-size: 36px;
    font-weight: 900;
    margin-top: 10px;
}

.indexsummary .jvectormap-zoomin, .indexsummary .jvectormap-zoomout {
    display: none;
}

.indexsummary .service {
    clear: both;
    height: 13px;
}

.indexsummary .service > div {
    float: left;
    height: 13px;
}

.indexsummary .service .bar {
    min-height: 19px;
    margin-left: 0;
}

.indexsummary .service .bar .amt {
    background: url(../img/bars-bg.jpg);
    border: 1px solid #888;
    height: 13px;
}

.indexsummary .service .bar .medium-bar {
    background-position: 0 -13px;
}

.indexsummary .service .bar .low-bar {
    background-position: 0 -26px;
}

.service-legend {
    clear: both;
    margin: 0 0 9px 0;
}

.service-legend > li {
    float: left;
    font-size: 10px;
    font-weight: bold;
    list-style-type: none;
    margin-right: 10px;
    width: 31%;
}

.indexsummary .services-more {
    text-align: right;
}

.service-legend > li.high {
    border-top: 4px solid #2071A9;
}

.service-legend > li.medium {
    border-top: 4px solid #46B83C;
}

.service-legend > li.low {
    border-top: 4px solid #E0D353;
}

.indexsummary .service .name, .indexsummary .service .count {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 8px;
    min-height: 19px;
    padding: 2px 10px 3px 0;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.indexsummary .service .name > a {
    color: #333;
}

#worldmap {
    height: 400px;
    margin: 0 auto;
}

#worldmap-legend {
    clear: both;
    height: 22px;
    margin: 0 0 9px 0;
}

#worldmap-legend > li {
    float: left;
    font-size: 10px;
    font-weight: bold;
    list-style-type: none;
    margin-right: 10px;
    width: 31%;
}

#worldmap-legend > li.high {
    border-top: 4px solid #C60F13;
}

#worldmap-legend > li.medium {
    border-top: 4px solid #E37577;
}

#worldmap-legend > li.low {
    border-top: 4px solid #ffdbdb;
}

.searchheader {
    background: url(../img/bg-whiter.gif);
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px 20px 5px;
}

.searchheader > h1 {
    color: #444;
    float: left;
    font-family: 'Open Sans';
    font-size: 24px;
    margin: 4px 20px 0 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, .6);
}

.searchheader a, .indexheader a {
    color: #444;
}

.searchheader a:hover, .indexheader a:hover {
    color: black;
    text-decoration: none;
}

.searchheader form {
    margin-top: 10px;
}

.searchheader input.search-query {
    width: 450px;
}

.searchsummary {
    background-color: #fafafa;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.search-results .span2 {
    border-right: 1px dashed #aaa;
}

.search-result {
    font-family: Arial;
}

.search-result .title {
    color: #444;
    font-family: 'Myriad Pro', Helvetica;
    font-size: 22px;
    font-weight: bold;
}

.search-result .hostname {
    color: #888;
    font-size: 11px;
    margin-left: 10px;
}

.search-result .data {
    clear: both;
    font-family: Inconsolata;
    font-size: 14px;
}

.search-result .data em {
    font-weight: bold;
    font-style: normal;
}

.search-result .label {
    float: left;
    margin-bottom: 4px;
    margin-right: 5px;
}

.search-result .location {
    color: #666;
    font-family: 'Myriad Pro', Helvetica;
    padding: 3px 0;
}

.search-result .location img {
    margin-top: -3px;
    margin-right: 10px;
}

#search-map {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 115px;
}

#overlay {
    background-color: black;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 110px;
    z-index: 10000;
}

#overlay > div {
    background-color: #111;
    border: 1px solid #404040;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    margin: 0 auto;
    margin-top: 20%;
    padding: 10px;
    width: 140px;
    text-shadow: none;
}

#overlay > div > img {
    padding-right: 10px;
}

.hub-upload .form-actions, .hub-upload form {
    margin-bottom: 0;
}

.main-content > h1 {
    margin-bottom: 10px;
}

.overview-highlights > div {
    color: #3a87ad;
    font-size: 16px;
    font-weight: bold;
}

.overview-highlights > div > span {
    color: #444;
    font-weight: normal;
}

.host {
    padding: 10px 20px;
}

#host-map {
    height: 200px;
    width: 100%;
}

.host .page-header > h2 > i {
    margin-right: 5px !important;
    vertical-align: middle !important;
}

.host .ports li {
    background-color: #1ca8dd;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    list-style-type: none;
    margin: 5px;
    position: relative;
    text-shadow: none;
    width: 48px;
}

.host .ports li > a {
    color: white;
    height: 34;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 48px;
}

.host li.service {
    border-bottom: 1px solid #ddd;
    float: left;
    list-style-type: none;
    padding: 10px 0 20px;
}

.host li.service-long {
    width: 100%;
}

.host li.service h3 {
    line-height: 1;
}

.host li.service small {
    padding-left: 10px;
}

.host .service-details {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 100px;
}

.host .service-details > div, .host .service-details > a {
    color: white;
    text-shadow: none;
}

.host .service-details .port {
    background-color: #1ca8dd;
}

.host .service-details .name {
    background-color: #A6CE87;
}

.host .service-details .protocol {
    background-color: #FF915F;
}

.host .service-details .state {
    background-color: #505050;
}

.host .service-details .link {
    background-color: #7DBB4D;
    color: white;
    display: block;
    margin-top: 20px;
}

.host .service-details .link:hover {
    background-color: #444;
}

.host .service-main {
    float: left;
    max-width: 100%;
}

.host .service-main pre {
    background-color: transparent;
    border: 0;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 10px 0;
}

.clear {
    clear: both;
}

.footer {
    text-align: center;
}

.footer > p {
    margin: 0;
    padding: 20px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
}

.fileupload {
    margin-bottom: 9px;
}

.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .btn {
    vertical-align: middle;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.uneditable-input, .uneditable-textarea {
    display: inline-block;
    padding: 4px 3px 4px 5px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    cursor: not-allowed;
    background-color: #ffffff;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.uneditable-input {
    height: 20px;
    overflow: hidden;
    white-space: pre;
}

.uneditable-input[class*="span"], .uneditable-textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .uneditable-textarea[class*="span"] {
    float: none;
    margin-left: 0;
}

.input-append .uneditable-input, .input-prepend .uneditable-input {
    vertical-align: top;
}

.input-append .uneditable-input[class*="span"], .input-prepend .uneditable-input[class*="span"] {
    display: inline-block;
}

.uneditable-form input[disabled], .uneditable-form textarea[disabled], .uneditable-form select[disabled] {
    cursor: auto;
}

.uneditable-form .uneditable-input, .uneditable-form .uneditable-textarea {
    cursor: text;
}

.uneditable-form .form-actions {
    background-color: transparent;
}

#welcome, #pricing {
    color: white;
    text-shadow: 1px 1px black;
}

#welcome {
    background-color: #313131;
    border-bottom: 1px solid white;
}

#welcome p {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

#welcome .row, .welcome-light {
    padding: 40px 0 0;
}

#welcome .row > .span4, .welcome-light .row > .span4 {
    padding: 20px 0;
    width: 30%;
}

#welcome h4, .welcome-light h4 {
    color: #A6CE87;
    font-family: Arial;
    margin-bottom: 10px;
}

#welcome h3, .welcome-light h3 {
    color: #88c841;
    font-family: Arial;
    margin-bottom: 10px;
}

#welcome .span4 > h4 > i, .welcome-light .span4 > h4 > i {
    font-size: 18px;
    margin-left: -20px;
    padding-right: 10px;
}

#welcome .span4 > p, .welcome-light .span4 > p {
    padding-left: 10px;
}

#welcome > div.banner, .welcome-light > div.banner {
    border-bottom: 5px solid #404040;
    width: 100%;
}

div.welcome-details {
    margin: 0 auto;
    padding-top: 80px;
    width: 100%;
}

.welcome-details > div {
    padding: 80px 0px;
    margin: 0 auto;
    width: 600px;
}

.welcome-details h1, .welcome-details p {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

#welcome-hero {
    background: url(https://ics-radar.shodan.io/bg-hero.jpg) no-repeat top center;
}

#welcome-hero .title {
    margin-bottom: 30px;
    text-align: center;
}

#welcome-hero .content {
    margin: 0 auto;
}

#welcome-hero .text {
    float: left;
}

#welcome-hero .screenshot {
    float: left;
    margin-left: 20px;
    padding-bottom: 20px;
}

#welcome .content {
    padding-top: 20px;
    text-align: center;
}

#pricing {
}

#pricing > div {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: 1024px;
}

#pricing > div > div.span3 {
    background-color: rgba(0, 0, 0, 0.2);
    height: 350px;
    padding-top: 10px;
}

#pricing ul {
    margin: 0;
    text-align: center;
}

#pricing ul > li {
    font-size: 18px;
    line-height: 25px;
    list-style-type: none;
    padding: 10px 0 10px;
}

#pricing ul > li > span {
    color: #4F85E3;
    font-size: 24px;
    font-weight: bold;
}

#pricing .details {
    color: #aaa;
    font-size: 14px;
}

#pricing .price > span {
    font-size: 64px;
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.method {
    border-left: 2px solid #ddd;
    margin-bottom: 10px;
}

.method h3 {
    background-color: #444;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 2px;
    padding-left: 10px;
    text-shadow: 1px 1px black;
}

.method h3:hover {
    background-color: black;
}

.method > h3 > span {
    background-color: #85C554;
    font-size: 14px;
    margin-right: 5px;
}

.method > div {
    padding-left: 20px;
}

.method > div > h4 {
    padding-top: 10px;
}

.spec-properties > dt {
    width: 220px;
}

.spec-properties > dd {
    margin-left: 240px;
}

.spec-properties > li > strong {
    display: inline-block;
    width: 200px;
}

.pricing-table > .span3 {
    height: 350px;
}

.pricing-table .column {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-left: 0;
    padding: 20px;
    text-align: center;
}

.pricing-table .column-highlight {
    background-color: white;
    border: 1px solid #d0d0d0;
    height: 390px;
    margin-top: -20px;
    padding-top: 40px;
}

.pricing-table h3 {
    color: #444;
    font-size: 64px;
}

.pricing-table h3 > sup {
    font-size: 24px
}

.pricing-table h3 > span {
    font-size: 12px;
    margin-left: -20px;
}

.pricing-table h4 {
    text-transform: uppercase;
}

.pricing-table h5 {
    font-size: 16px;
    margin-top: 10px;
}

.pricing-table ul li {
    list-style: none;
    padding: 3px 0;
}

.pricing-table ul li > span {
    background-color: white;
    font-weight: bold;
}

.pricing-table .mini-column {
    background-color: #eee;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.column .stripe-button-el {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #5bb75b;
}

.column .stripe-button-el > span {
    background: none !important;
    background-image: none !important;
}

.column .stripe-button-el {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -ms-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #51a351;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.column .stripe-button-el:hover, .column .stripe-button-el:active, .column .stripe-button-el.active, .column .stripe-button-el.disabled, .column .stripe-button-el[disabled] {
    background-color: #51a351;
    *background-color: #499249;
}

.column .stripe-button-el:active, .column .stripe-button-el.active {
    background-color: #408140 \9;
}

.clients table th {
    width: 150px;
}

.clients table td.repo {
    width: 150px;
}

.clients table td.author {
    width: 100px;
}